---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
    Who Are We?
    </p>
    <p class="about">
      <%= link_to "About Us", "about.html", class: "btn btn-info" %>
    </p>
    <p class="team">
      <%= link_to "Meet the team", "team.html", class: "btn btn-info" %>
    </p>
    <p>
      <%= link_to "Recent Flats", "flat.html", class: "btn btn-info" %>
    </p>
  </div>
</div>
