---
title: Le Wagon - Middleman
---


    <p class="team">
      <%= link_to "Meet the team", "team.html", class: "btn btn-info" %>
    </p>
    <p>
      <%= link_to "Recent Flats", "flat.html", class: "btn btn-info" %>
    </p>
  </div>
</div>

